@font-face {
  font-family: "Gotham Pro";
  src: url("src/assets/fonts/GothamProMedium/GothamProMedium.eot");
  src: url("src/assets/fonts/GothamProMedium/GothamProMedium.ttf") format("ttf");
  src: url("src/assets/fonts/GothamProMedium/GothamProMedium.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gotham Pro", sans-serif;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  background-color: #F8F8F8;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
}
